* {
  box-sizing: border-box;

  --logo-font: "Courier Prime", "Courier New", monospace;
  --main-font: "DM Mono", "Courier New", monospace;
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

html {
  --bg-color: #283332;
  --text-color: white;
  --bg-grid-color: #526969;
  
  --accent-color-teal: #93c7b7;
  --accent-color-purple: #a79dd4;
  --accent-color-blue: #b0e5eb;
  --accent-color-med-blue: #9ac9ce;
  /*9dd4c3*/

  --cloud-bottom-img: url(cloud-bottom.png);
  --ubc-logo-img: url(ubc-logo.png);

  --gradient: linear-gradient(45deg, var(--accent-color-teal), var(--accent-color-med-blue), var(--accent-color-purple));
  --gradient-blue-purple: linear-gradient(-45deg, var(--accent-color-med-blue), var(--accent-color-purple));

  cursor: url('cursor-1.png'), auto;

  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color-teal) var(--bg-color);
}

.Light-mode {
  --bg-color: #ecf7f3;
  --text-color: #283332;
  --bg-grid-color: #b8d4cc;

  --accent-color-teal: #a1d8c6;
  --accent-color-purple: #bab1e4;
  --accent-color-blue: #bff1f7;
  --accent-color-med-blue: #a1d5db;

  --cloud-bottom-img: url(cloud-bottom-dark.png);
  --ubc-logo-img: url(ubc-logo-dark.png);

  cursor: url('cursor-2.png'), auto;
  scrollbar-color: var(--accent-color-teal) var(--bg-color);
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.App {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--main-font);
  font-size: 1.05em;
  background-image: radial-gradient(circle at 1px 1px, var(--bg-grid-color) 1px, transparent 0);
  background-size: 50px 50px;
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.Nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  height: 5vh;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 0px 20px;

  background-color: var(--bg-color);
  border-bottom: 2px solid var(--accent-color-teal);
}

#hz-logo {
  position: relative;
  left: 0;
  top: 0;
  color: var(--text-color);
  font-size: 1.5em;
  font-family: var(--logo-font);
}

.Nav-bar-list {
  position: absolute;
  right: 0;
  list-style-type: none;
}

.List-item {
  display: inline;
  padding: 0px 0.75vw;
  color: inherit;
}

a {
  color: var(--text-color);
  transition: color 0.3s;
}

a:link, .Link:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}

@media (width <= 500px) {
  #hz-logo {
    display: none;
  }
  .List-item {
    padding: 1.1vw;
    font-size: 0.95em;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.Toggle-switch {
  position: relative;
  left: calc(99vw - 90px);
  top: 6vh;
  width: 90px;
}

label {
  position: absolute;
  width: 100%;
  height: 45px;
  background-color: var(--bg-grid-color);
  border-radius: 50px;
  cursor: inherit;
}

input {
  position: absolute;
  display: none;
}

.Slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .Slider {
  background-color: var(--accent-color-med-blue);
}

.Slider::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 7px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  box-shadow: inset 13px -2px 0px 0px var(--accent-color-blue);
  background-color: var(--bg-grid-color);
  transition: 0.3s;
}

input:checked ~ .Slider::before {
  transform: translateX(43px);
  background-color: var(--bg-color);
  box-shadow: none;
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

h1 {
  margin-bottom: 50px;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
  transition: text-decoration 0.3s;
  font-size: 1.7em;
}

mark {
  font-weight: 400;
  position: relative;
  z-index: 0;
  background-color: transparent;
  color: var(--text-color);
}

mark::before {
  background: var(--gradient-blue-purple);
  content: "";
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 90%;
  z-index: -1;
  bottom: 0%;
  left: -5%;
} 

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-top: 5vh;
  margin-bottom: 15vh;
  font-family: var(--main-font);
}

@media (width <= 1250px) {
  section {
    margin-bottom: 5vh;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

#intro {
  flex-direction: row;
  padding-top: 15vh;
}

.Intro-img {
  width: 40vw;
}

.Intro-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.Big-text {
  font-size: 50px;
  font-weight: 500;
  background: var(--gradient);
  background-clip: text;
  color: transparent;
  text-align: center;
}

@media (width <= 1250px) {
  #intro {
    flex-direction: column;
  }
  .Intro-img {
    width: 90vw;
  }
  .Intro-text {
    margin-top: 5vh;
    align-items: center;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.About {
  max-width: 40vw;
  border-radius: 40px;
  padding: 15px 40px;
  background-color: var(--accent-color-teal);
}

@media (width <= 1250px) {
  .About {
    max-width: 75vw;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.Skills-grid {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 20px;
}

.Skills-grid-item {
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: justify;
  background-color: var(--accent-color-teal);
  border-radius: 20px;
  font-size: 1.2em;
  transition: transform 0.3s;
}

.Skills-grid-item:hover {
  transform: translateY(-3px);
}

i {
  margin-right: 10px;
  font-size: 1.5em;
}

/*
frog:  \1F438
cloud: \2601
*/

@media (width <= 900px) {
  .Skills-grid {
    grid-template-columns: max-content max-content max-content;
  }
  .Skills-grid-name {
    display: none;
  }
  i {
    margin: 0px;
    font-size: 2.5em;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.Edu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Ubc-logo {
  background-image: var(--ubc-logo-img);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 105px;
  margin: 15px 30px 0px 0px;
}

.Edu-text-box {
  display: flex;
  flex-direction: column;
}

.Edu-text {
  margin: 0.5em;
  font-size: 1.1em;
}

@media (width < 500px) {
  .Edu-text-box {
    width: 260px;
  }
}

@media (width < 370px) {
  .Edu-text-box {
    width: 200px;
  }
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

#projects {
  margin-bottom: 20vh;
}

.Projects-container {
  display: flex;
  flex-direction: row;
}

.Project {
  width: 20vw;
  border-radius: 50px;
  margin: 2vh 5vh;
  background-color: var(--accent-color-teal);
  overflow: hidden;
  transition: transform 0.3s;
}

@media (width <= 1250px) {
  .Projects-container {
    flex-direction: column;
  }
  .Project {
    width: 75vw;
  }
}

.Project:hover {
  transform: translateY(-7px);
}

.Project-img {
  width: 100%;
  object-fit: contain;
}

.Project-text {
  padding: 1.5vh 20px 20px 0px;
}

.Project-text-title {
  padding-left: 50px;
  padding-top: 0.5em;
  color: var(--bg-color);
  letter-spacing: 0.05em;
}

.Project-text-list {
  list-style-type: "\2601";
  margin: 0.6em 0em;
}

.Project-text-list-item {
  padding-left: 10px;
  padding-bottom: 5px;
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

#contact {
  margin-bottom: 0px;
  padding-top: 10vh;
  color: var(--bg-color);
  position: relative;
  z-index: 0;
}

#contact::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: var(--cloud-bottom-img);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

.Contact-box {
  margin-top: 50px;
  margin-bottom: 40px;
  text-align: center;
}

.Contact-item {
  display: inline;
  padding: 0px 20px;
  color: inherit;
}

/*___________________________________________________________________________________________________________________________________________________________________________________________________________*/

.Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  border-top: 2px solid var(--accent-color-teal);
  background-color: var(--bg-color);
}